/* * {
  background-color: rgba(0, 40, 0, 0.1);
} */
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

main {
  height: inherit;
  display: grid;
  place-items: center;
}

section {
  margin: 0 auto;
}

#game-status {
  text-align: center;
  font-size: 5vh;
}

.board {
  height: 65vh;
  width: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  border-color: #fff;
  display: grid;
  place-items: center;
  font-size: 17vh;
}

.left {
  border-right-style: solid;
}
.top {
  border-bottom-style: solid;
}
.right {
  border-left-style: solid;
}
.bottom {
  border-top-style: solid;
}

.bottom-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.scores {
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.score-content {
  display: grid;
  grid-template-rows: 1fr 1.75fr;
}

.score-title {
  margin-bottom: 0px;
  text-align: center;
  font-size: 3vh;
}

.score-count {
  margin: 0px;
  display: grid;
  place-items: center;
  font-size: 5vh;
}

#reset-container {
  display: grid;
  place-items: center;
}
